@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --silver: #d9d9d9;
  --mid: #979797;
  --smoke: #848884;
  --dark: #444444;
  --darker: #0A0708;
  --deep: #030303;
  --deeper: #000300;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: var(--deep);
    color: var(--silver);
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
  }

  ::-webkit-scrollbar {
    width: .75em;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--darker);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--silver);
    transition-duration: 2s;
  }
}

@layer components {
  /*Flex Box Preset*/
  .centered {
      @apply flex flex-row justify-center items-center
  }

  .centered-col {
      @apply flex flex-col justify-center items-center
  }

  .spaced {
      @apply flex flex-row justify-between items-center
  }

  .spaced-col {
      @apply flex flex-col justify-between items-center
  }

  .evenly {
      @apply flex flex-row justify-evenly items-center
  }

  .evenly-col {
    @apply flex flex-col justify-evenly items-center
  }

  .invisilink {
      @apply relative collapse
  }

  /*Containers*/

  .section-container {
      @apply w-full min-h-[50vh] h-auto centered
  }

  .block-container {
    @apply xs:w-5/6 lg:w-4/5 desktop:w-4/5 h-auto
  }

  .portion-container {
    @apply min-h-[20vh] xs:min-h-[20vh] lg:h-[30vh] w-screen h-auto centered
  }

  .content-container {
    @apply h-[calc(100vh-4rem)] md:h-[calc(100vh-6rem)] centered-col md:centered w-full bg-white mt-16 md:mt-24
  }

  /*Transitions*/

  .easy-transition {
    @apply duration-300 ease-in-out hover:cursor-pointer
  }

  .slow-transition {
    @apply duration-700 ease-in-out hover:cursor-pointer
  }

  .slugish-transition {
    @apply duration-1000 ease-in-out hover:cursor-pointer
  }

  .bg-img {
    @apply bg-center bg-no-repeat
  }

  /*Site Components*/
  .content-size {
    @apply xs:text-base sm:text-lg md:text-xl
  }

  .title-size {
    @apply xs:text-xl sm:text-2xl md:text-3xl lg:text-4xl
  }

  /*Navbar Section*/ 
  .sidebar-item {
    @apply text-2xl font-light uppercase border-t-2 border-silver/30 w-full centered text-center h-20 tracking-comfy text-silver
  }

  /*Hero Section*/
  .button {
    @apply xs:px-3 xs:py-2 xs:rounded-lg mini:px-8 mini:py-4 mini:rounded-xl
  }

  .blue-button {
    @apply button bg-softBlue easy-transition hover:bg-white border-2 border-softBlue hover:text-softBlue
  }

  .white-button {
    @apply button bg-white text-darkBlue shadow-md shadow-silver border-2 border-transparent easy-transition hover:border-grayBlue hover:text-grayBlue
  }

  /*Feature Section*/
  .image-sizing {
    @apply xs:bg-[length:500px_200px] md:bg-[length:600px_250px] 
  }

  .tab-img {
    @apply xs:bg-[length:100%_60%] 
  }

  .img-holder {
    @apply centered md:justify-end h-full xs:bg-[left_-20px_bottom_0] bg-img tab-img md:w-1/2 bg-blue-left 
  }

  /*Accordian Component*/
  .accordian-title {
    @apply xs:text-base md:text-lg
  }

  /*Infocard Component*/
  .infocard-title {
    @apply xs:text-xl md:text-2xl lg:text-3xl
  }

  .infocard-content {
    @apply md:text-base lg:text-xl
  }

  .infocard-button {
    @apply xs:text-sm md:text-base lg:text-lg w-full py-4 font-medium text-white rounded-lg bg-softBlue place-self-end easy-transition border-2 border-softBlue hover:text-softBlue hover:bg-white
  }

  /*Form Component*/
  .form-container {
    @apply w-full xs:gap-y-4 md:gap-x-4 centered-col md:flex-row
  }

  .form-grid {
    @apply grid w-full md:grid-rows-[1fr_.75fr] md:grid-cols-[3fr_1fr] gap-x-8 xs:grid-cols-1 xs:grid-rows-4
  }
  
  .form-wrapper {
    @apply w-full md:col-start-1 md:row-start-1 spaced bg-white rounded-lg
  }

  .form-input {
    @apply w-full p-4 text-grayBlue md:text-sm md:w-4/5 md:py-3 
  }

  .form-error {
    @apply border-softRed border-4 rounded-tl-lg rounded-tr-lg rounded-bl-none rounded-br-none
  }

  .icon-holder{
    @apply w-12 h-full bg-white centered
  }

  .form-error-message {
    @apply col-span-1 col-start-1 row-start-2 text-center text-white rounded-bl-lg rounded-br-lg bg-softRed centered md:text-sm lg:text-base
  }

  .form-button {
    @apply w-full md:text-base md:w-32 text-lg text-white border-2 rounded-lg bg-softRed  border-softRed hover:bg-white hover:text-softRed md:row-start-1 md:col-start-2 xs:col-start-1 xs:row-start-4 px-4
  }

  .form-sent {
    @apply bg-green-600 border-green-600 hover:bg-green-600 hover:text-white disabled:cursor-not-allowed
  }



}