@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --silver: #d9d9d9;
  --mid: #979797;
  --smoke: #848884;
  --dark: #444444;
  --darker: #0A0708;
  --deep: #030303;
  --deeper: #000300;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: var(--deep);
    color: var(--silver);
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
  }

  ::-webkit-scrollbar {
    width: .75em;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--darker);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--silver);
    transition-duration: 2s;
  }
}

@layer components {
  /*Flex Box Preset*/
  .centered {
      @apply flex flex-row justify-center items-center
  }

  .centered-col {
      @apply flex flex-col justify-center items-center
  }

  .spaced {
      @apply flex flex-row justify-between items-center
  }

  .spaced-col {
      @apply flex flex-col justify-between items-center
  }

  .evenly {
      @apply flex flex-row justify-evenly items-center
  }

  .evenly-col {
    @apply flex flex-col justify-evenly items-center
  }

  .invisilink {
      @apply relative collapse
  }

  /*Containers*/

  .section-container {
      @apply w-full min-h-[50vh] h-auto centered
  }

  .block-container {
    @apply xs:w-5/6 lg:w-4/5 desktop:w-4/5 h-auto
  }

  .portion-container {
    @apply min-h-[20vh] xs:min-h-[20vh] lg:h-[30vh] w-screen h-auto centered
  }

  .content-container {
    @apply h-[calc(100vh-4rem)] md:h-[calc(100vh-6rem)] centered-col md:centered w-full bg-white mt-16 md:mt-24
  }

  /*Transitions*/

  .easy-transition {
    @apply duration-300 ease-in-out hover:cursor-pointer
  }

  .slow-transition {
    @apply duration-700 ease-in-out hover:cursor-pointer
  }

  .slugish-transition {
    @apply duration-1000 ease-in-out hover:cursor-pointer
  }

  .bg-img {
    @apply bg-center bg-no-repeat
  }

  /*Site Components*/
  .content-size {
    @apply xs:text-base sm:text-lg md:text-xl
  }

  .title-size {
    @apply xs:text-xl sm:text-2xl md:text-3xl lg:text-4xl
  }

  /*Navbar Section*/ 
  .sidebar-item {
    @apply text-2xl font-light uppercase border-t-2 border-silver/30 w-full centered text-center h-20 tracking-comfy text-silver
  }

  /*Hero Section*/
  .button {
    @apply xs:px-3 xs:py-2 xs:rounded-lg mini:px-8 mini:py-4 mini:rounded-xl
  }

  .blue-button {
    @apply button bg-softBlue
  }

  .white-button {
    @apply button bg-white text-darkBlue shadow-md shadow-silver
  }

  /*Feature Section*/
  .image-sizing {
    @apply xs:bg-[length:500px_200px] md:bg-[length:600px_250px] 
  }

  .tab-img {
    @apply xs:bg-[length:100%_60%] 
  }

  .img-holder {
    @apply centered md:justify-end h-full xs:bg-[left_-20px_bottom_0] bg-img tab-img md:w-1/2 bg-blue-left 
  }

  /*Accordian Component*/
  .accordian-title {
    @apply xs:text-base md:text-lg
  }

  /*Infocard Component*/
  .infocard-title {
    @apply xs:text-xl md:text-2xl lg:text-3xl
  }

  .infocard-content {
    @apply md:text-base lg:text-xl
  }

  .infocard-button {
    @apply xs:text-sm md:text-base lg:text-lg
  }


}